*{

    font-family: "Matemasie", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap')



/* *{

  color: green;

} */

/* .container{
    width: 100%;
   height: 40px ;
   border: 2px solid black;
background-color: greenyellow;
align-content: center;


} */
/* ul{
    list-style-type: none;
 display: inline;

} */
/* li{
    display: inline;
    color: purple;
    font-size: 10px;
}

h1{
    font-size: 10px;
} */
/* 
text align center 
align content 
align items  */

/* condition */





/* 1rem = 10px */