
/* 
.container {


width: 100px;
height: 100px;
background-color: brown;
border: 2px solid black;
margin-top: 50px;
margin-left: 100px;

}
.container:hover{

  box-shadow: 10px 10px 10px gray;
} */

/* button {
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: bisque;
} */

/* ol{

    list-style-type: decimal-leading-zero;

} */

/* list-style-image: url(./download.jpeg) ;
 */
 /* list-style-position: inside; */



